<div style="margin-top: 70px;">
    <div class="container">
      <div class="col-md-offset-9">
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search by name...">
      </div>

      <h1 class="text-center">Amiibos</h1>
      <div class="col-md-3" *ngFor="let amiibo of setAmiibos() | search: searchText">
         <!--return arrays to pass function because ngFor is expecting array-->
        <div class="amiibo-body">
          <h3 class="text-center">{{amiibo.name}}</h3>
          <hr>
          <p class="text-center">From: {{amiibo.gameSeries}}</p>
          <div class="text-center">
            <button class="btn btn-info" [routerLink]="['/amiibo/', amiibo.tail]">View</button>
          </div>
        </div>
      </div>
     <ng-container *ngIf="paginator">

        <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
            <li [ngClass]="{disabled: pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled: pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Back</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active: pager.currentPage == page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled: pager.currentPage === pager.pagesCount}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled: pager.currentPage === pager.pagesCount}">
              <a (click)="setPage(pager.pagesCount)">Last</a>
            </li>
          </ul>

     </ng-container>
    </div>
  </div>
